<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
	
<body>
    <h1><%=userdata[0].username%>'s Task List:</h1>
	<table class="table table-bordered">
		<thead>
		  <tr>
			<th>Task Name</th>
			<th>Task Status</th>
			<th>Created at:</th>
			<th>Resolved?</th>
		  </tr>
		</thead>
		<tbody>
			<% for (var i=0; i < tasksList.length; i++) { %>
			<tr>
					<td><%=tasksList[i].task%></td>
					<td><%=tasksList[i].status%></td>
					<td><%=tasksList[i].created_at%></td>
					<td><a href="/deleteTask?id=<%=tasksList[i].id%>" class="btn btn-primary">Resolved</a></td>
			</tr>
		 	<% } %>
		</tbody>
	  </table>
	  <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalCenteredLabel">Delete Task</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
			  ...
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <button type="button" class="btn btn-primary">Resolved</button>
			</div>
		  </div>
		</div>
	  </div>
	  <a href="/createNewTask/<%=userdata[0].uuid%>">>Create New Task</a>
	  <a href="/logout">Log out</a>

	  <script>
	  $(document).ready(function(){ 
		$(form).on('submit', function(){ 
			  location.reload();
		});
	  })
	 </script>
</body>
</html>